
#################################################################
# Rename this file to 'config.yaml' before doing anything else!!!
#################################################################

# NOTE: Most values don't require quotes. This file follows standard YAML syntax.

#  Usage:
#
# 1. Set the value of `main.script`.
# 2. If `main.script` was set to `magic`, for example, edit the values of the
#    `magic` section below accordingly.

# MAIN -----------------------------------------------------------------------------------
main:
  # Determines which script to run.
  # Available options:
  #   `magic`
  #   `mining`
  #   `cooking`
  #   `smithing`
  script: magic

  # Path to your user credential files. This can be a relative
  #   path (starting from `./ocvbot/ocvbot/`) or an absolute path.
  # This value should be surrounded by single quotes.
  username_file: 'credentials/username.txt'
  password_file: 'credentials/password.txt'

  # The minimum and maximum amount of time to wait between random logout breaks.
  # Units are in minutes.
  min_session_duration: 120
  max_session_duration: 180

  # The minimum and maximum amount of time to wait during a logout break.
  # Units are in minutes.
  min_break_duration: 30
  max_break_duration: 120

  # The minimum and maximum number of logout breaks that will occur before
  #   the bot stops for good.
  min_sessions: 2
  max_sessions: 5

  # Determines the verbosity of information printed to the terminal while the
  #   bot is being run.
  # Available options:
  #   `CRITICAL`
  #      Logs for unrecoverable, catastrophic issues. Causes the bot to
  #      immediately exit.
  #   `ERROR`
  #      Logs for serious but recoverable issues that likely indicate a
  #      problem with your configuration or the bot itself. Most issues
  #      that cause ERROR-level logs will force the bot to logout as a
  #      safety measure.
  #   `WARNING`
  #      Logs for recoverable minor issues or important notifications that may
  #      warrant further investigation.
  #   `INFO`
  #      Logs for providing a general description of what the bot is attempting
  #      to do. This is the recommended log level in most cases.
  #   `DEBUG`
  #      Logs for developing new behaviors or for troubleshooting unexpected
  #      behavior.
  log_level: INFO

  # Whether to hold down CTRL when clicking on the minimap. This will cause
  #   the player to run instead of walk. This must be set to False if running
  #   the test suite with PyTest and feh.
  ctrl_click_run: True

  # Whether to randomly sleep for short periods of time while running the bot.
  random_waits: True

  # Whether the player has a bank pin or not.
  # This option is currently unused.
  bank_pin: False

# MINING ---------------------------------------------------------------------------------
mining:
  # Available options:
  #   `lumbridge-mine`
  #      See `docs/scenarios/mining-copper-lumbridge-swamp`
  #   `varrock-east-mine`
  #      See `docs/scenarios/mining-copper-varrock-east`
  location: varrock-east-mine

  # These settings control whether the mining script should drop precious
  #   gems and other items that have been obtained randomly through mining.
  #   These settings are ignored if the mining script is configured for
  #   banking.
  drop_sapphire: False
  drop_emerald: False
  drop_ruby: False
  drop_diamond: False
  # Clue geodes contain clue scrolls. Mining iron ore provides only "easy"
  #   clue scrolls.
  drop_clue_geode: False

  # Whether the bot will drop the ore it mines or bank it.
  # This option is ignored for locations that don't support banking.
  drop_ore: False

# MAGIC ----------------------------------------------------------------------------------
magic:
  # Available options:
  #   `curse-varrock-castle`
  #      See `docs/scenarios/magic-curse-varrock-castle`.
  #   `high-alchemy`
  #      See `docs/scenarios/magic-high-alchemy`.
  scenario: curse-varrock-castle
  # Availabe options:
  #   `bank-note`
  #      For alching any noted item.
  #   {ITEM_NAME}
  #      Replace {ITEM_NAME} with the file name (excluding extension) of the
  #      item to alch. Available options are in `needles/items/`.
  alch_item_type: bank-note
  # Minimum and maximum number of miliseconds to wait after casting each spell.
  min_cast_delay: 0
  max_cast_delay: 500

# COOKING --------------------------------------------------------------------------------
cooking:
  # Available options:
  #   `raw-anchovies`
  item: raw-anchovies
  # Available options:
  #   `al-kharid`
  #      See `docs/scenarios/cooking-al-kharid`.
  location: al-kharid

# SMITHING -------------------------------------------------------------------------------
smithing:
  # Available options:
  #   `iron-bar`
  bar: iron-bar
  # Available options:
  #   `iron-axe`
  #   `iron-scimitar`
  #   `iron-warhammer`
  #   `iron-platebody`
  item: iron-platebody
  # Available options:
  #   `varrock`
  #      See `docs/scenarios/smithing-varrock`.
  location: varrock
