# Python files
**/__pycache__
*venv*
.pytest_cache
build
dist
ocvbot*env
ocvbot.egg*
ocvbot/package-lock.json
.mypy_cache

# Development files
**/tmp
*/.screenshot*
.idea
/haystacks
NOTES.md
Project.xml
bin/main/build
bin/main/dist
bin/test/build
bin/test/dist
tests/haystacks/locations/old
tests/haystacks/unsorted
tools/osrs.dev.sh

# User files
**/credentials
!**/credentials/README.md
**/ocvbot/config.yaml

ocvbot/inv_bottom_half.png
ocvbot/ocvbot_bank_items_window.png
ocvbot/ocvbot_chat_menu_recent.png
ocvbot/ocvbot_client.png
ocvbot/ocvbot_game_screen.png
ocvbot/ocvbot_inv.png
ocvbot/ocvbot_inv_left_half.png
ocvbot/ocvbot_inv_right_half.png
ocvbot/ocvbot_minimap.png
ocvbot/ocvbot_minimap_slice.png
ocvbot/ocvbot_side_stones.png