# Python files
**/__pycache__
.pytest_cache
build
dist
ocvbot-env
ocvbot.egg*
ocvbot/package-lock.json
venv_cpython

# Development files
**/tmp
*/.screenshot*
.idea
/haystacks
Project.xml
bin/main/build
bin/main/dist
bin/test/build
bin/test/dist
tests/haystacks/locations/old
tests/haystacks/unsorted
tools/osrs.dev.sh
NOTES.md

# User files
**/credentials
!**/credentials/README.md
**/ocvbot/config.yaml
**/tools/login_*.py
