# Python files
**/__pycache__
*venv*
.pytest_cache
build
dist
ocvbot*env
ocvbot.egg*
ocvbot/package-lock.json

# Development files
**/tmp
*/.screenshot*
.idea
/haystacks
NOTES.md
Project.xml
bin/main/build
bin/main/dist
bin/test/build
bin/test/dist
tests/haystacks/locations/old
tests/haystacks/unsorted
tools/osrs.dev.sh

# User files
**/credentials
!**/credentials/README.md
**/ocvbot/config.yaml
**/tools/login_*.py
